<%- include("partials/head.html") %>
<title>Login</title>
</head>
<body>

<%- include("partials/navbar.html") %>

<br>
<div class="container">
    
    <form action="/email" method="POST">
        <h2>Send Email</h2>
        <br>          
        <div class="form-group">
            <label for="email"> Email </label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Enter Email" required>
        </div>
        <br>
        <div class="form-group">
            <label for="subject"> Subject </label>
            <input type="text" class="form-control" id="subject" name="subject" placeholder="Enter Email Subject" required>
        </div>
        <br>
        <div class="form-group">
            <label for="text">Email text</label>
            <textarea class="form-control" id="text" name="text" rows="3"></textarea>
          </div>   
        <br>    
        <button type="submit" class="btn btn-primary">Send</button>
        
    </form>
    
</div>
</body>
</html>