<%- include("partials/head.html") %>
    <title>Proyecto TOBS </title>
</head>
<body>
    <%- include("partials/navbar.html") %>
    
    <div class="container">
        <br>
        <header class="row">
            <div class="col-lg-12 text-center">
                <img src="/images/tobsLogo.png" alt="Logo TOBS">
                <br>
                <hr>                    
            </div>
        </header>
        <% if (user) { %>
        <div class="row justify-content-md-center">
            <div class="col-8">
                <h4><b>Upload products from CSV file:</b></h4>
            </div>
            <div class="col-3">                             
                <a class="btn btn-warning" href="/authorization">Go to upload form</a>      
            </div>
        </div>
        <br>
        <hr>
        <% } %>       
    </div>
</body>
</html>