<%- include("partials/head.html") %>
    <title>Upload Form</title>
</head>
<body>
    <%- include("partials/navbar.html") %>
    
    <div class="container">
        <br>                    
        <hr>
        <% if (token) { %>
            <h3><%= token %></h3>
        <% } else { %> 
        <form action="/upload" method="POST">
            <h2>Upload</h2>          
            <br>    
            <button type="submit" class="btn btn-primary">Confirm Access</button>
        </form>   
        <% } %>     
    </div>
</body>
</html>

<script>   
    
</script>